/* 整個捲軸 */
::-webkit-scrollbar { width: 15px; display: none;}
/* 捲軸的軌道 */
::-webkit-scrollbar-track { background: #fff; }
/*捲軸尚未滑到的軌道*/
::-webkit-scrollbar-track-piece{ background: #fff; }
/* 滑動的區塊 */
::-webkit-scrollbar-thumb { background: rgb(252, 181, 198 ); }
/* 滑鼠移到滑動的區塊上 */
::-webkit-scrollbar-thumb:hover { background: #aaa; }

body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

body{
    background-color: rgb(141, 139, 139);
    background-image: url(../image/temporary.jpg);
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-position: top 80px left 50%;
    background-attachment: fixed;
}

.main-navs{
    background-color: rgb(246, 135, 8);
    position: fixed;
    /* display: flex;
    flex-direction: row; */
    /* z-index: 99; */
    width: 100%;
    top: 0;
    white-space: nowrap;
}

.main-navs div{
    display: inline-block;
}

.main-navs img{
    max-width: 100%;
    display: flex;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.nav-img{
    max-width: 150px;
    float: left;
}

.nav-links{
    clear: both;
    margin-left: 20%;
}

.nav-links a{
    font-size: 24px;
    border: 3px solid rgb(10, 10, 10);
    border-radius: 36px;
    width: 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: rgb(50, 79, 245);
    background-color: azure;
    margin-top: 15px;
}

.nav-links a:hover{
    color: lightsalmon;
    background-color: rgb(50, 79, 245);
    border: 3px solid azure;
}

.nav-links a:active{
    color: rgb(50, 79, 245);
    background-color: azure;
    border: 3px solid rgb(10, 10, 10);
}

nav + main{
    margin-top: 4.5%;
}

#content{
    /* margin: 4% 2%; */
    /* padding: 40px 80px; */
    border: 1px solid white;
    text-align: center;
}

#content .section1 img{
    align-content: center;
    max-width: 100%;
    /* max-height: 50%; */
}


footer p{
    text-align: center;
}