<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="icon" href="../image/icon.jpg">
    <title>程晞文理 Liang-Liang Academy - 首頁</title>
    <meta name="keywords" content="程晞文理, 亮亮學院, 程皓文理, 程飛數學">
    <meta name="description" content="介紹程晞文理的環境，還有設計精美的課程等著你們來報名~">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="main-navs">
        <div class="nav-img">
            <a href="index.html">
                <img src="../image/liangliang.jpg" alt="Liang-Liang head">
            </a>
        </div>
        <div class="nav-links">
            <a href="index.html">
                <ion-icon name="home-outline"></ion-icon>
                <strong>首頁</strong>           
            </a>
            <a href="about.html">
                <ion-icon name="person-circle-outline"></ion-icon>
                <strong>關於我們</strong>
            </a>
            <a href="classes.html">
                <ion-icon name="library-outline"></ion-icon>
                <strong>課程介紹</strong>
            </a>
            <a href="signup.html">
                <ion-icon name="information-circle-outline"></ion-icon>
                <strong>報名資訊</strong>
            </a>
            <a href="transport.html">
                <ion-icon name="train-outline"></ion-icon>
                <strong>交通資訊</strong>
            </a>
            <a href="others.html">
                <ion-icon name="school-outline"></ion-icon>
                <strong>其他分校</strong>
            </a>
        </div>
    </nav>
    
    <main id="content">
        <section class="section1">
            <!-- <h2>關於我們</h2> -->
            <img src="../image/chenxi.jpg" alt="程晞門口">
        </section>
        <section class="section2">
            <h2></h2>
            <p></p>
        </section>
    </main>
    <footer>
        <p><strong>Copyright© Liang-Liang Academy</strong></p>
    </footer>
    <!--  加入icon用的 -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>